body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212; /*  Очень темный фон */
  color: #eee;
  margin: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}
/* Стили для кнопки гамбургер-меню */
.toggle-button {
    background: none;
    border: none;
    color: #87CEEB; /*  цвет кнопки */
    font-size: 24px;
    cursor: pointer;
    padding: 10px; /*  padding вокруг кнопки */
    position: absolute; /*  абсолютное позиционирование */
    top: 10px; /*  отступ сверху */
    left: 10px; /*  отступ слева */
    z-index: 10; /*  гарантирует, что кнопка поверх сайдбара */
}

.sidebar {
  width: 250px;
  background-color: #292929;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(0);
  border-right: 1px solid #333;


  /* Скрытие боковой панели */
  &.hidden {
    transform: translateX(-100%); /* За пределы экрана */
  }

  nav {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          display: block;
          padding: 8px 15px;
          border-radius: 5px;
          color: #fff; /* Белый цвет ссылок */
          text-decoration: none; /* Убираем подчеркивание */
          transition: background-color 0.2s ease; /*  плавный переход для ховера */

          &:hover {
            background-color: rgba(255, 255, 255, 0.05);
            text-decoration: none;
          }
        }
      }
    }
  }
}


.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  max-width: 900px; /*подобрать константы*/
  margin: 0 auto;
  color: #ddd;
  /*  Важно: задаем отступ слева, равный ширине сайдбара */
  margin-left: 350px; /*  Ширина сайдбара */
  transition: margin-left 0.3s ease; /*  Плавное изменение отступа */
  
  h1, h2, h3 {
    color: #eee; /*  Более светлые заголовки */
    margin-bottom: 0.5em;
  }

  p {
    line-height: 1.6;
  }

  ul {
    list-style: disc;
    padding-left: 20px;
  }

  a {
    color: #87CEEB; /*  цвет ссылок в контенте */
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
   /*  Убираем отступ, когда сайдбар скрыт */
  body.sidebar-hidden & {
    margin-left: 0;
  }
}

