<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | ct notes </title>
  <link rel="stylesheet" href="https://ct-y2024.github.io/notes/docs/style/style.css">
</head>
<body>
  <div class="container">
    <div class="sidebar" id="sidebar">
        <button class="toggle-button" id="toggle-button">☰</button>
        <nav>
            <ul>
                <li><a href="#">Ссылка 1</a></li>
                <li><a href="#">Ссылка 2</a></li>
                <li><a href="#">Ссылка 3</a></li>
            </ul>
        </nav>
    </div>
    <main class="content">
       {{content}}
    </main>
</div>

<script src="script.js"></script>
</body>
</html>
